<HTML>
    <HEAD>
        <LINK rel="stylesheet" type="text/css" href="css/main.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="js/vector2D.js"></script>
        <script src="js/spritesheet.js"></script>
        <script src="js/gameelement.js"></script>i
        <script src="js/particle.js"></script>
        <script src="js/game.js"></script>
        <script src="js/canvas.js"></script>
        <script src="js/safetextscreen.js"></script>
        <script src="js/mouse.js"></script>
        <script src="js/app.js"></script>

    </HEAD>

    <BODY>
        <% include content %>
    </BODY>
</HTML>
